.portfolio {
    padding: 5.3rem 0 0 2rem;
    background-color:var(--darken-color);
    color:var(--lighten-color);
    height: max-content;
}

.project_cards {
   padding: 4em 0;
   display:flex;
   align-items:center;
   justify-content:center;
}

.cardView {
    width: 50%;
    color:var(--lighten-color);
    background-color: var(--oil);
    font-family: var(--font-two);
    position: relative;
    cursor: pointer;
}

.codeLang {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0 0 0;
}

.space-8 {
    letter-spacing: 8px;
}

.btn-lang {
    padding: 0.4em 1.2em;
    border-radius: 0.3em;
    letter-spacing: 0.12em;
    background-color: var(--lighten-color);
    color: var(--oil);
    margin:0 2em;
}

.btn-lang:hover {
    background-color: var(--darkest-color);
    color: var(--lighten-color);
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
  }

  .viewDemo {
    background-color: var(--primary-color);
    color: var(--oil);
    letter-spacing: 5px;
    text-decoration: none;
    padding: 0.7em 1.2em;
    border-radius: 0.5em;
  }

  .viewDemo:hover {
    background-color: var(--soft-darken-color);
    color: var(--lighten-color);
  }
  
  .cardView:hover .overlay {
    background-color: rgba(0,0,0,0.9);
    transition: background 0.5s;
  }

  @media only screen and (max-width:768px) {
    .cardView {
        width: 80%;
    }
  }
